<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Welcome to CodeIgniter</title>
<script type="text/javascript" src="/public/js/pdf.js" async></script>
<script>
var scaleSlider = null;
var scaleValue = null;
var canvas = null;
var context = null;
var image = null;
var fixFileObject = null;
var scale = null;
var messageArea = null;
var pdfFlag = false;
var csrf_token_name = "{$csrf_token_name}";
var csrf_hash = "{$csrf_hash}";

document.addEventListener("DOMContentLoaded", function() {
    canvas = document.getElementById("thumbnail");
    context = canvas.getContext("2d");

    scaleSlider = document.getElementById("scale");
    scaleValue = document.getElementById("scale-value");

    messageArea = document.getElementById("message")

    scaleSlider.addEventListener("change", changeScale);

    setFileEventListenner();
});

function changeScale() {
    scaleValue.value = scaleSlider.value;
    drawCanvas();
}

function setFileEventListenner() {
    document.getElementById("file-selecter").addEventListener("change", createPreview);
}

function createPreview(event) {

    fixFileObject = null;

    var fileObject = event.target.files[0];

    if (typeof fileObject === "undefined") {
        return;
    }

    if (fileObject.type.match(/^(image\/jpeg|image\/png|application\/pdf)$/) === null) {
        // jpegとpngとpdf以外の場合はクリアして終了
        var fileArea = document.getElementById("file-input");
        fileArea.innerHTML = fileArea.innerHTML;
        setFileEventListenner();
        return;
    }

    if (fileObject.type.match(/^application\/pdf$/) !== null) {
        pdfFlag = true;
    } else {
        pdfFlag = false;
    }

    fixFileObject = fileObject;

    image = new Image();

    var reader = new FileReader();

    reader.onload = (function(fileObject) {
        return function(event) {
            if (pdfFlag === false) {
                image.src = event.target.result;// base64
            } else {
                var pdf64Data = event.target.result;
                pdf64Data = pdf64Data.split(',')[1];
                pdf64Data = atob(pdf64Data);
                var unit8Array = new Uint8Array(pdf64Data.length);
                unit8Array.forEach(function(element, index) {
                    unit8Array[index] = pdf64Data.charCodeAt(index);
                });
                PDFJS.getDocument(unit8Array)
                    .then(function(pdf) {
                        return pdf.getPage(1);
                    })
                    .then(function(page) {
                        var scale = scaleSlider.value;
                        var viewport = page.getViewport(scale);
                        canvas.height = viewport.height;
                        canvas.width = viewport.width;

                        var renderContext = {
                            canvasContext: context,
                            viewport: viewport
                        };

                        // Render PDF page
                        page.render(renderContext);
                    })
                    .catch(error => {
                        messageArea.innerHTML = '<span style="color: red;">ファイルの読み込みに失敗しました。</span>';
                    });
            }
        };
    })(fileObject);

    image.onload = function() {
        drawCanvas();
    }

    reader.readAsDataURL(fileObject);
}

function drawCanvas() {
    scale = scaleSlider.value;
    if (image !== null) {
        var imageWidth = parseInt(image.width * scale, 10);
        var imageHeight = parseInt(image.height * scale, 10);
        canvas.width = imageWidth;
        canvas.height = imageHeight;
        context.clearRect(0, 0, imageWidth, imageHeight);
        context.drawImage(image, 0, 0, imageWidth, imageHeight);
    }
}

function submitResizeFile() {
    if (image !== null) {

        var resizeFileObject = null;

        if (scale !== 1) {
            // サイズ変更があった場合だけ送信用ファイルを作成
            var image64Data = canvas.toDataURL(fixFileObject.type);
            image64Data = image64Data.split(',')[1];
            imageData = atob(image64Data);
            var unit8Array = new Uint8Array(imageData.length);
            unit8Array.forEach(function(element, index) {
                unit8Array[index] = imageData.charCodeAt(index);
            });
            resizeFileObject = new File(
                [unit8Array],
                fixFileObject.name,
                {
                    type: fixFileObject.type
                }
            );
        } else {
            // サイズ変更がない場合はそのまま
            resizeFileObject = fixFileObject;
        }

        var formData = new FormData();
        formData.append(csrf_token_name, csrf_hash);
        formData.append("file", resizeFileObject);

        // input type file の 値はjavascriptで上書き出来ないのでajaxで送信する
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                csrf_hash = JSON.parse(xhr.response).csrf_hash;
                if (xhr.status === 200) {
                    messageArea.innerHTML = '<span style="color: green;">ファイルの送信に成功しました。</span>';
                } else {
                    messageArea.innerHTML = '<span style="color: red;">ファイルの送信に失敗しました。</span>';
                }
            }
        }
        xhr.open("POST", "/root/execute_upload");
        xhr.send(formData);
    }
}
</script>
</head>
<body>
<form id="form">
    Scale : <input id="scale" type="range" step="0.1" min="0.1" max="1" value="1"><input disabled id="scale-value" type="text" value="1" style="width: 2rem;">
    <div id="file-input"><input id="file-selecter" type="file" name="file" accept="image/jpeg, image/png, application/pdf"></div>
    <div><canvas id="thumbnail" width="10" height="10"></canvas></div>
    <input type="button" value="送信" onclick="submitResizeFile()">
    <div id="message"></div>
</form>
</body>
</html>